@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --montserrat: 'Montserrat' , sans-serif;
}

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.div{
    border: 1px black solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 60px 50px;
}
.titulo{
    display: flex;
    justify-content: center;
    font-family: var(--montserrat);
    font-size: 50px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#cidade::placeholder{
    color: black;
}
#cidade{
    padding: 8px 5px;
    font-size: 25px;
    border-radius: 20px;
    border: 2px black solid;
    font-family: var(--montserrat);
    background-color: rgb(220, 228, 228);
}
#botaoPesquisa{
    padding: 15px 20px;
    border-radius: 20px;
    border: 1.7px black solid;
    font-family: var(--montserrat);
    font-size: 17px;
    background-color: aqua;
}
.temperaturas{
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--montserrat);
}

