*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Vina+Sans&display=swap');

:root{
    --fonte-1: 'Montserrat', sans-serif;
    --fonte-footer: 'Vina Sans', cursive;
    --valorant: 'Vina Sans', cursive;
    --cor-primaria: rgb(236, 53, 53);
    --img: "omen.png";
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 2rem;
}
.logo-cabecalho img{
    width: 15%;
    margin-left: 10px;
}
.itens-cabecalho{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.botoes-cabecalho{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
    font-family: var(--valorant);
    font-size: 1.3rem;
}
.botoes-cabecalho a{
    text-decoration: none;
    color: var(--cor-primaria);
}
a:hover{
    color: #f5f5f5;
}
.main1{
    display: flex;
    width: 95%;
    margin: auto;
    gap: 5rem;
}
.main1 img{
    width: 45%;
}
.textos-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 3rem;
    font-family: var(--valorant);
}
.imagem-main img{
    margin-top: 2rem;
    width: 50%;
    padding: 0;
}
.imagem-main{
    border: 2px solid red;
}
.titulo-main{
    font-size: 5rem;
}
.subtitulo-main{
   font-size: 1.4rem;
}
.botao-main a{
    text-decoration: none ;
    color: aliceblue;
}
.botao-main{
    border: 1px solid var(--cor-primaria);
    border-radius: 3rem;
    padding: 1.5rem 2.5rem;
    background-color: var(--cor-primaria);
}
.main2{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.texto-main2{
    font-family: var(--valorant);
}
.botoes-main2 a{
    padding: 1.5rem 4rem;
    text-decoration: none;
    border: 1.5px solid black;
    border-radius: 5rem;
    color: #f5f5f5;
    background-color: var(--cor-primaria);
    font-family: var(--valorant);
}
.botoes-main2{
    display: flex;
    gap: 3rem;
}
.footer{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: black;
    padding: 2rem;
}
.footer p{
    color: #f5f5f5;
    font-family: var(--fonte-footer);
    font-size: 13px;
}
.termos-footer{
    display: flex;
    gap: 4rem;
}
.main-sobre{
    display: flex;
    width: 85%;
    margin: auto;
    gap: 5rem;
}
.textos-sobre h1{
    font-family: var(--valorant);
    font-size: 2.1rem;
}
.textos-sobre p{
    font-family: var(--valorant);
    width: 80%;
    font-size: 1.5rem;
    text-align: justify;
}
.textos-sobre{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

@media(max-width: 768px){
    .main1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main1 img{
        width: 100%;
    }
    .botoes-main2{
        display: flex;
        flex-direction: column;
    }
    .termos-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-sobre{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

}

