@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --font: 'Monsterrat', sans-serif;
}

body.modo-claro{
    --cor-header: cyan;
    --cor-fundo: white;
    --cor-texto: black;
    --cor-button: rgb(58, 198, 65);
}

body.modo-escuro{
    --cor-header: darkmagenta;
    --cor-fundo: rgb(110, 110, 110);
    --cor-texto: white;
    --cor-button: rgb(39, 77, 176);
}

*{
  margin: 0;
  padding: 0;
  background-color: var(--cor-fundo);
}