@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --font: 'Monsterrat', sans-serif;
}

body.modo-claro{
    --cor-fundo: white;
    --cor-texto: black;
}

body.modo-escuro{
    --cor-fundo: black;
    --cor-texto: white;
}

*{
  margin: 0;
  padding: 0;
}